:root {
    --button-color: lightgreen;
    --highlight-color: yellow;
  }
  body {
    text-align: center;
    background-color: rgb(224, 208, 210);
    color: rgb(43, 59, 104);
    font-family: bree, sans-serif;
    font-weight: 200;
    font-style: bold;
    font-size: larger;
    }
    

  img { 
    align-self: auto;
    border-radius: 35%;
    max-width: 50vw;
    max-height: 30vh;
    box-shadow: 0px 0px 80px 20px rgb(60, 46, 65);
    }
  
    .container {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 20% 80%;
    }

    .hiphop{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        
    }
    .soul{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;

    }
    .reggae{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

  p{
    font-family: bree, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: large;
    color: rgb(45, 26, 58);
  }
  
  h3 {
    font-family: bree, sans-serif;
    font-weight: 200;
    font-style:normal;
    font-size: xx-large;
    color: rgb(180, 131, 212);
    }
  button {
    background-color: #201f33;
    border-radius: 25%;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    }

  button:hover {
    background-color:rgb(180, 131, 212);
    }
  
  
  